
@{
    ViewData["Title"] = "Display1";
    Layout = "~/Views/Shared/_LayoutDisplay.cshtml";
}
    <script src="~/js/jquery-3.3.1.min.js"></script>

    <div class="row">
        <div class="col-sm-8 contentVideo2">
            <div class=" text-center">
                <img class="videoDisplay2" src="~/images/Demo.gif" />
            </div>
            <marquee class=" textoDisplay2" direction="left" scrollamount="10">
                POR SU SEGURIDAD SE SOLICITA PRESENTAR SU DNI Y TARJETA MULTIRED GLOBAL DÉBITO PARA OPERACIONES DE RETIRO POR VENTANILLA SUPERIORES A S/. 1,500.00 O $ 550.00.
            </marquee>

        </div>

        <div class="col-sm-4 text-center contentTurn2">
            <div class="col-sm-12  cardTurn2Activo">
                BN0001 <i class="fas fa-caret-right"></i> 14
            </div>
            <div class="col-sm-12 cardTurn2">
                BN0002 <i class="fas fa-caret-right"></i> 15
            </div>
            <div class="col-sm-12 cardTurn2">
                BN0002 <i class="fas fa-caret-right"></i> 16
            </div>
            <div class="col-sm-12 cardTurn2">
                BN0002 <i class="fas fa-caret-right"></i> 16
            </div>
            <div class="col-sm-12 cardTurn2">
                BN0002 <i class="fas fa-caret-right"></i> 16
            </div>
            <div class="col-sm-12 cardTurn2">
                BN0002 <i class="fas fa-caret-right"></i> 16
            </div>
        </div>

    </div>

