
@{
    ViewData["Title"] = "Display1";
    Layout = "~/Views/Shared/_LayoutDisplay.cshtml";
}
    <script src="~/js/jquery-3.3.1.min.js"></script>

    <div class="row">
        <div class="col-sm-8 contentVideo">
            <div class="col-lg text-center ">
                <img class="videoDisplay3" src="~/images/Demo.gif" />
            </div>

        </div>
        
        <div class="col-sm-4" >
            <div class="row"></div>
            <div class="row" style="background-color:#D4D4D4;">
                <div class="col-sm-4 text-center" style="font-size:4rem;">
                    11:05
                </div>
                <div class="col-sm-8 text-center">
                    <h2>Lunes</h2>
                    <h2>10 de marzo de 2019</h2>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <div class="text-center" style="font-size:4rem; text-align:center;">
                BN0001
            </div>
            <div class="text-center" style="font-size:2rem; ">
                BANCO 05
            </div>
            <div class="text-center" style="font-size:2rem; ">
                MÓDULO 05
            </div>
        </div>
    </div>
<div class="row">

        <marquee class="col-lg textoDisplay3" direction="left" scrollamount="10">
            POR SU SEGURIDAD SE SOLICITA PRESENTAR SU DNI Y TARJETA MULTIRED GLOBAL DÉBITO PARA OPERACIONES DE RETIRO POR VENTANILLA SUPERIORES A S/. 1,500.00 O $ 550.00.
        </marquee>
    
</div>

<div class="row text-center contentTurn3">
    <div class="col-sm-4  cardTurn3">
        <b>BN0001</b> <br/><h2>BANCO 14</h2>
    </div>
    <div class="col-sm-4 cardTurn3">
        <b>BN0001</b>  <br /><h2>BANCO 14</h2>
    </div>
    <div class="col-sm-4 cardTurn3">
        <b>BN0001</b>  <br /><h2>BANCO 14</h2>
    </div>
    <div class="col-sm-4 cardTurn3">
        <b>BN0001</b>  <br /><h2>BANCO 14</h2>
    </div>
    <div class="col-sm-4 cardTurn3">
        <b>BN0001</b>  <br /><h2>BANCO 14</h2>
    </div>
    <div class="col-sm-4 cardTurn3">
        <b>BN0001</b>  <br /><h2>BANCO 14</h2>
    </div>
</div>
   