
@{
    ViewData["Title"] = "Display1";
    Layout = "~/Views/Shared/_LayoutDisplay.cshtml";
}
    <script src="~/js/jquery-3.3.1.min.js"></script>

    <div class="row">
        <div class="col-sm-6 text-center contentTurn2">
            <div class="col-sm-12  cardTurn2Activo">
                BN0001 <i class="fas fa-caret-right"></i> 14
            </div>
            <div class="col-sm-12 cardTurn2">
                BN0002 <i class="fas fa-caret-right"></i> 15
            </div>
            <div class="col-sm-12 cardTurn2">
                BN0002 <i class="fas fa-caret-right"></i> 16
            </div>
            <div class="col-sm-12 cardTurn2">
                BN0002 <i class="fas fa-caret-right"></i> 16
            </div>
            <div class="col-sm-12 cardTurn2">
                BN0002 <i class="fas fa-caret-right"></i> 16
            </div>
            <div class="col-sm-12 cardTurn2">
                BN0002 <i class="fas fa-caret-right"></i> 16
            </div>
        </div>
        <div class="col-sm-6 text-center contentTurn2">
            <div class="col-sm-12  cardTurn2Activo">
                BN0001 <i class="fas fa-caret-right"></i> 14
            </div>
            <div class="col-sm-12 cardTurn2">
                BN0002 <i class="fas fa-caret-right"></i> 15
            </div>
            <div class="col-sm-12 cardTurn2">
                BN0002 <i class="fas fa-caret-right"></i> 16
            </div>
            <div class="col-sm-12 cardTurn2">
                BN0002 <i class="fas fa-caret-right"></i> 16
            </div>
            <div class="col-sm-12 cardTurn2">
                BN0002 <i class="fas fa-caret-right"></i> 16
            </div>
            <div class="col-sm-12 cardTurn2">
                BN0002 <i class="fas fa-caret-right"></i> 16
            </div>
        </div>

    </div>

