
@{
    ViewData["Title"] = "Display1";
    Layout = "~/Views/Shared/_LayoutDisplay.cshtml";
}
    <script src="~/js/jquery-3.3.1.min.js"></script>

    <div class="row">
        <div class="contentVideo5">

                <img class="videoDisplay5" src="~/images/Demo.gif" />
     
            <marquee class="textoDisplay5" direction="left" scrollamount="10">
                POR SU SEGURIDAD SE SOLICITA PRESENTAR SU DNI Y TARJETA MULTIRED GLOBAL DÉBITO PARA OPERACIONES DE RETIRO POR VENTANILLA SUPERIORES A S/. 1,500.00 O $ 550.00.
            </marquee>

        </div>

    </div>

