
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

    <script type="text/javascript">
        function logueo() {
               window.location.href = "http://192.168.120.205";
        }

    </script>

    <div class="container p-5 d-flex justify-content-center align-items-center text-center">
        <h2 class="pr-4">Bienvenido al Sistema Integrado de Turnos</h2>
        <img src="~/images/turnos.png" style="width: 45%;" />     
    </div>


